
body {
  font-family: "Open Sans", verdana, arial, sans-serif;
}

.jumbotron {
	background: paleturquoise;
	font-family: 'Varela Round', sans-serif;
}

.panel-info>.panel-heading {
	background-color: paleturquoise;
	color: black;
	border: 1px solid lightgrey;
}

.panel-body {
	font-size: 12px;
	border: 1px solid lightgrey;
}

#bar {
	width: 100%;
}

#gauge {
	width: 100%;
}

#bubble {
	width: 100%;
}